#header {
  background-color: #0079d3;
  color: #fff;
  background-image: url(%%bannerBackgroundImage%%);
  background-size: cover;
  background-position: center;
  padding-top: 100px; 
}

  /* #header-img {
  background: url(%%logo%%) no-repeat;
  display: inline-block;
  height: 100px; 
  width: 100px; 
  position: absolute;
  top: 10px; 
  left: 10px;
} */

#sr-header-area {
  display: none;
}

div.side div.spacer:nth-of-type(1){
   padding-top: 300px; 
   background:url(%%logo%%) top center no-repeat;
}

/* div.side div.spacer:nth-of-type(1):before{
   display:block;
   margin-top: 5px;
   width: 300px;
   content: "Welcome to r/developersIndia!";
   text-align: center; 
   font-family: Georgia, serif; 
   font-size: small; 
} */

.link {
  border: 1px solid #0079d3;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f8ff;
}



.link:hover {
  border-color: #00acee;
}

a.author.moderator, .res a.author.moderator {
    color:white!important;
    background-color: green !important;
}

#siteTable .title {
    color: #0f326a;
}

#siteTable.title:visited,
#siteTable a.title:active {
    color: #142E57;
}

.sitetable .comment, .sitetable .comment .comment, .sitetable .comment .comment .comment, .sitetable .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background: transparent!important; }


/*
#header .tabmenu li a{
    color: red;
    background-color: green;
    border: 1px solid purple;
}
#header .tabmenu .selected a{
    color: white;
    background-color: red;
    border: 1px solid green;
}
*/


.title {
  font-size: 18px;
  font-weight: bold;
  color: #0079d3;
}

  .titlebox .word { display: none }
  .titlebox .number:after { content: " Developers"; }
  .titlebox .users-online span.number:after { content: " Writing Code"; }

.score {
  color: #4682b4;
}

.report-button:hover:after {
    position: absolute;
    white-space: normal;
    display: block;
    z-index: 1000;
    width: 350px;
    padding: 5px;
    border: 0px solid #333;
    background: #fca;
    content: "Feel free to modmail mods to report stuff too.";
    text-align: center;
    font-size: 10px;
    color: red;
    margin-left: 25px;
    margin-top: 5px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}

.comment {
  border-left: 2px solid #0079d3;
  padding-left: 10px;
  margin-left: 10px;
}

.side {
  background-color: #e6f7ff;
  padding: 10px;
}

.sidebox.submit {
width: 300px;
}
body:not(.listing-page) .morelink {
border-color: #5ba2fd!important;
border-radius: 2px!important;
background: none transparent;
background-color: #acd9fc;
background-image: -webkit-linear-gradient(top,#acd9fc,#8ccbfc)!important;
background-image: -moz-linear-gradient(top,#acd9fc,#8ccbfc)!important;
background-image: linear-gradient(top,#acd9fc,#8ccbfc)!important;
color: #2154a3;
}
body:not(.listing-page) .morelink a {
color: #2154a3!important;
text-shadow: 1px 1px 2px #eee;
}
body .morelink {
padding: 4px 10px;
border-color: #3079ed!important;
border-radius: 2px!important;
background: none transparent;
background-color: #5ba2fd;
background-image: -webkit-linear-gradient(top,#5ba2fd,#4b8adb)!important;
background-image: -moz-linear-gradient(top,#5ba2fd,#4b8adb)!important;
background-image: linear-gradient(top,#5ba2fd,#4b8adb)!important;
color: #fff;
font-weight: normal;
letter-spacing: 0;
}
body .morelink:hover,
body:not(.listing-page) .morelink:hover {
border-color: #08c;
background: none transparent;
background-color: #357ae8;
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8)!important;
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8)!important;
background-image: linear-gradient(top,#4d90fe,#4787ed)!important;
color: #fff;
}
body .morelink a {
color: #fff!important;
font-weight: bold;
font-size: 16px;
text-shadow: 1px 1px 2px #0f0f0f;
}
body .morelink a:hover,
body:not(.listing-page) .morelink:hover a,
body:not(.listing-page) .morelink a:hover {
color: #fff!important;
text-shadow: 1px 1px 2px #0f0f0f!important;
}
body .morelink .nub,
body .morelink:hover .nub,
body .disabled .morelink .nub,
body .disabled .morelink:hover .nub {
background: none transparent!important;
}
body .disabled .morelink,
body .disabled .morelink:hover {
border-color: #f5f5f5!important;
background-color: #eee;
background-image: none!important;
}
body .disabled .morelink a,
body .disabled .morelink a:hover {
color: #aaa!important;
text-shadow: none!important;
cursor: default!important;
}


/*tab menu*/
div#header-bottom-left ul.tabmenu{
position: absolute;
bottom: 0px;
left: 350px;
/* font-family:Verdana;*/
/*text-transform: capitalize;*/
font-size: 11px;
}
.tabmenu li a {
/*gradients from /r/beer*/
background: -webkit-linear-gradient(white, #A273DC);
background: -moz-linear-gradient(white, #A273DC);
background: -ms-linear-gradient(white, #A273DC);
background: -o-linear-gradient(white, #A273DC);
background: linear-gradient(white, #A273DC);
/*color: #B6A0C0!important;*/
color: #fff!important;
border: 0px solid #FFFFFF;
}
.tabmenu li.selected a {
background-color: transparent !important;
color: #906BA1 !important;
border-color: #000000 !important;
border-style: solid;
border-width: 0px
}
.tabmenu li.selected a:hover {
background-color: transparent!important;
color: #8C4DA9 !important;
border-color: #000000 !important;
border-bottom: 1px solid #c9c9c9 !important;
}
.tabmenu li a:hover {
background-color: transparent !important;
color: #EDE5F1 !important;
border-color: #000000 !important;
}
/*end tabmenu*/

.footer-parent {
  background-color: #333;
  color: #fff;
}
